node_modules
.next
out
dist
.DS_Store

# env
.env
.env.local
.env.*.local

# misc
*.log
.npm
.eslintcache
*.tsbuildinfo
next-env.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
